* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;


}

#calcContainer {
    width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: lightseagreen;


}

.displayContainer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-around;
    align-items: end;
    flex-grow: 1;
    background-color: brown;

}



.buttonContainer {
    display: flex;
    flex: 4;
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.btn {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.equalBtn {
    flex-grow: 2;
}