* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;


}

#calcContainer {
    width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: black;
    overflow:hidden;
    border-radius: 30px;


}

.displayContainer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-around;
    align-items: end;
    flex-grow: 1;
    background-color: black;

}



.buttonContainer {
    display: flex;
    flex: 4;
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-right: 1px solid lightgray;
}

.btn {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid grey;
    font-size: large;
}

.equalBtn {
    flex-grow: 2;
    background-color: #0793ff;
    color: white;
}

.num, #percent {
    color: lightgray;
    background-color: black;
}


.op, .clear, .delete {
    background-color: rgb(35, 36, 36);
    color: #00b3fc;
    font-size: large;

}


